* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: #113f67;
}

body {
	background-color: #e7eaf6;
}

div {
	width: 65%;
	/*max-width: 700px;*/
	margin: auto;
	font-size: 20px;
	font-family: monospace;
	background-color: #a2a8d3;
	padding: 50px;
	box-shadow: 0 0 10px 1px #113f67;
}

h1 {
	margin: 20px 0;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}

p {
	margin: 10px 0;
}

a {
	font-size: 15px;
}